<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.jieban" />
    
    <application
        android:name="com.devapp.ClientApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyApp.Theme.Light.NoTitleBar" >
         <uses-library android:name="android.test.runner" />
        <meta-data android:name="AA_DB_NAME" android:value="jieban.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        
        <activity
            android:name="com.devapp.activity.common.LaunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.devapp.activity.common.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.devapp.activity.common.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.devapp.activity.course.ClassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".activity.common.ChooseSchoolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:label="@string/app_name" >
        </activity>
         
        <!-- 底部tabbar导航栏模式 -->
        <activity
            android:name="com.devapp.activity.bottomtab.MainTabActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
        </activity>
        
        

        
        <!-- 框架 -->
        <activity
            android:name="com.ryg.dynamicload.DLProxyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ryg.dynamicload.proxy.activity.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryg.dynamicload.DLProxyFragmentActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.ryg.dynamicload.proxy.fragmentactivity.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.ryg.dynamicload.DLProxyService" >
            <intent-filter >
                <action android:name="com.ryg.dynamicload.proxy.service.action"/>
            </intent-filter> 
        </service>
        
        <receiver android:name="com.devapp.broadcast.DevAppBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DEVAPP"/>
                <category android:name="android.intent.category.DEFALT"/>
            </intent-filter>
        </receiver>
        
        <!-- 网络状态监听 -->
        <receiver android:name=".NetworkStateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
         <service android:name=".DevAppService">  
            <intent-filter>  
                 <action android:name="android.intent.action.DEVAPP_SERVICE" />  
                 <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>  
        </service>  
        
         
         <service
            android:name="com.devapp.aidl.server.RemoteServer"
            android:process=":remote" >
            <intent-filter >
                <action android:name="com.teffy.aidldemo.aidl.IRemoteServer"/>
            </intent-filter>
        </service>

         <provider android:name="com.devapp.contentprovider.DevAppContentProvider"
             android:authorities="com.devapp.provider" >
         </provider>
         
<!-- 左侧活动导航栏模式 -->
        <!-- <activity
            android:name="com.jieban.activity.slidemenu.SlideMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
    </application>

</manifest>
